/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #F4F6F5;
  font-size: 18px;
  font-weight: 500;
  color: #2C2D35;
}

a {
  color: #2C2D35;
}

.button {
  width: 225px;
  height: 65px;
  border: 1px solid #598D66;
  color: #598D66;
  font-size: 20px;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.button:hover {
  background-color: #598D66;
  color: #F4F6F5;
  transition: background-color 0.5s ease, color 0.5s ease;
}
@media screen and (max-width: 768px) {
  .button {
    width: 210px;
    height: 60px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 690px;
  }
}

.none {
  display: none !important;
}

.header {
  background-color: #E1EDE6;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.logo {
  position: relative;
  padding-left: 42px;
  color: #598D66;
  font-weight: 700;
  font-size: 20px;
}
.logo::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  left: 0;
  top: 0;
  transform: translateY(-6px);
  background-image: url(./../img/header/star.svg);
}

.header__activity {
  display: flex;
  gap: 60px;
  transition: all 0.5s ease;
}
.header__activity a:hover {
  color: #598D66;
  transition: color 0.5s ease;
}
.header__activity .cart:hover path {
  stroke: #598D66;
  transition: stroke 0.5s ease;
}

.header__nav {
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .header__nav {
    font-size: 18px;
  }
}

.nav__list {
  display: flex;
  gap: 60px;
}

.cart:hover path {
  stroke: #598D66;
}

.top__inner {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  align-items: center;
}

.top__img {
  flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .top__img {
    width: 540px;
  }
}

.top__title {
  color: #2C2D35;
  font-size: 60px;
  line-height: 110%; /* 66px */
  padding-bottom: 20px;
}
.top__title span {
  color: #598D66;
}
@media screen and (max-width: 768px) {
  .top__title {
    font-size: 40px;
    line-height: 100%; /* 66px */
  }
}

.top__text {
  color: #86928B;
  line-height: 150%; /* 27px */
  padding-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .top__text {
    padding-bottom: 40px;
  }
}

.reproductions {
  padding: 70px 0;
}

.reproductions__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 0;
}

.reproductions__title {
  font-size: 40px;
  line-height: 110%; /* 44px */
}
@media screen and (max-width: 768px) {
  .reproductions__title {
    font-size: 30px;
  }
}

.reproductions__btns {
  display: flex;
  gap: 32px;
}

.reproductions__btn {
  padding: 10px 20px;
  border-radius: 20px;
  background: #E1EDE6;
  transition: all 0.5s ease;
}
.reproductions__btn--active {
  background-color: #376B44;
  color: #F4F6F5;
}
.reproductions__btn:hover {
  background-color: #598D66;
  color: #F4F6F5;
  transition: all 0.5s ease;
}

.reproductions__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .reproductions__cards {
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}

.reproductions__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
  height: 730px;
  background-color: #E1EDE6;
}

.card__img {
  height: 422px;
}

.card__text {
  width: 100%;
}

.card__author {
  color: #86928B;
  margin-bottom: 10px;
}

.card__name {
  color: #2C2D35;
  font-size: 30px;
  margin-bottom: 8px;
}

.card__desc {
  color: #2C2D35;
  margin-bottom: 30px;
}

.card__price {
  color: #598D66;
  font-size: 24px;
}

.card__btn {
  width: 310px;
  height: 65px;
}
@media screen and (max-width: 768px) {
  .card__btn {
    width: 290px;
    height: 65px;
  }
}

.cta {
  z-index: 0;
  position: relative;
  height: 574px;
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgba(13, 43, 67, 0.007) 100%, rgb(0, 212, 255) 100%), url(./../img/cta/background.jpg);
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .cta {
    background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgba(13, 43, 67, 0.007) 100%, rgb(0, 212, 255) 100%), url(./../img/cta/background-tablet.png);
    background-size: cover;
    height: 502px;
  }
}

.cta__inner {
  padding: 70px 15px;
}

.cta__content {
  width: 540px;
}
@media screen and (max-width: 768px) {
  .cta__content {
    max-width: 690px;
  }
}

.cta__title {
  position: relative;
  color: #F4F6F5;
  font-size: 40px;
  margin-bottom: 20px;
  padding-left: 100px;
}
.cta__title::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  left: 0;
  top: 0;
  background-image: url(./../img/cta/star.svg);
}
@media screen and (max-width: 768px) {
  .cta__title::before {
    width: 60px;
    height: 60px;
    background-size: cover;
  }
}
@media screen and (max-width: 768px) {
  .cta__title {
    font-size: 30px;
    padding-left: 80px;
    max-width: 450px;
  }
}

.cta__text {
  color: #FFFFFF;
  line-height: 150%; /* 27px */
  margin-bottom: 30px;
}

.cta__btn {
  width: 257px;
  height: 65px;
  background: #EEDB6D;
  border: none;
  color: #2C2D35;
  font-size: 20px;
  transition: all 0.5s ease;
}
.cta__btn:hover {
  background-color: #FAEB97;
  color: #2C2D35;
  transition: all 0.5s ease;
}
@media screen and (max-width: 768px) {
  .cta__btn {
    width: 210px;
    height: 60px;
  }
}

.team__inner {
  padding: 70px 15px;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 800px) {
  .team__inner {
    flex-direction: column;
    gap: 40px;
  }
  .team__inner .team__img {
    width: 510px;
  }
  .team__inner .content {
    padding: 0 0 70px;
  }
}

.team__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 124px;
}
@media screen and (max-width: 768px) {
  .team__content {
    padding-top: 0;
  }
}

.team__title {
  font-size: 40px;
  line-height: 110%; /* 44px */
}

.team__text {
  line-height: 150%; /* 27px */
}

.team__persons {
  display: flex;
  gap: 30px;
}

.footer {
  background-color: #E1EDE6;
  transition: color 0.5s ease;
}
.footer a:hover {
  color: #598D66;
  transition: color 0.5s ease;
}

.footer__inner {
  display: flex;
  padding: 23px 15px;
}
@media screen and (max-width: 1150px) {
  .footer__inner {
    flex-direction: column;
  }
}

.footer__left {
  margin-right: 115px;
}
@media screen and (max-width: 1150px) {
  .footer__left {
    display: flex;
    margin-right: 0;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
}

.footer__phone {
  margin-top: 35px;
  font-size: 20px;
}
@media screen and (max-width: 1150px) {
  .footer__phone {
    margin-top: 0;
  }
}

.footer__phone-desc {
  color: #86928B;
}

.footer__right {
  display: flex;
}
@media screen and (max-width: 1150px) {
  .footer__right {
    justify-content: space-between;
  }
}

.footer__nav {
  display: flex;
  gap: 60px;
  margin-right: 250px;
}
@media screen and (max-width: 1150px) {
  .footer__nav {
    margin-right: 0;
  }
}

.footer__nav-column {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.nav-column__title {
  color: #2C2D35;
  font-size: 20px;
}

.nav-column__link {
  color: #86928B;
  line-height: 150%; /* 27px */
}

.footer__social {
  transition: fill 0.5s ease;
}
.footer__social svg:hover path {
  fill: #598D66;
  transition: fill 0.5s ease;
}
@media screen and (max-width: 1150px) {
  .footer__social {
    width: 170px;
  }
}

.social__images {
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
}

.footer__rights {
  color: #86928B;
  font-size: 12px;
  line-height: 120%; /* 14.4px */
}/*# sourceMappingURL=main.css.map */