.cta {
    z-index: 0;
    position: relative;

    height: 574px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(13,43,67,0.007) 100%, rgba(0,212,255,1) 100%),
    url(./../img/cta/background.jpg);
    background-size: cover;

    @include mediaTablet {
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(13,43,67,0.007) 100%, rgba(0,212,255,1) 100%),
        url(./../img/cta/background-tablet.png);
        background-size: cover;
        height: 502px;
    }
}
.container {
}
.cta__inner {
    padding: 70px 15px;
}

.cta__content {
    width: 540px;

    @include mediaTablet {
        max-width: 690px;
    }
}

.cta__title {
    position: relative;
    color: $background-color;
    font-size: 40px;
    margin-bottom: 20px;
    padding-left: 100px;

    &::before {
        content: "";
        position: absolute;

        width: 80px;
        height: 80px;
        left: 0;
        top: 0;
        // transform: translateY(12%);

        background-image: url(./../img/cta/star.svg);

        @include mediaTablet {
            width: 60px;
            height: 60px;
            background-size: cover;
            
        }
    }

    @include mediaTablet {
        font-size: 30px;
        padding-left: 80px;
        max-width: 450px;
    }
}

.cta__text {
    color: $white;
    line-height: 150%; /* 27px */
    margin-bottom: 30px;
}

.cta__btn {
    width: 257px;
    height: 65px;

    background: $yellow;
    border: none;

    color: $black;
    font-size: 20px;

    transition: all 0.5s ease;

    &:hover {
        background-color: $yellow-secondary;
        color: $black;
        transition: all 0.5s ease;
    }

    @include mediaTablet {
        width: 210px;
        height: 60px;
}
}
.button {
}
