.footer {
    background-color: $green-secondary;

    a:hover {
        color: $green;
        transition: color 0.5s ease;
    }
    transition: color 0.5s ease;
}

.container {
}
.footer__inner {
    display: flex;
    padding: 23px 15px;

    @include mediaPreTablet {
        flex-direction: column;
    }
}
.footer__left {
    margin-right: 115px;

    @include mediaPreTablet {
        display: flex;
        margin-right: 0;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
}
.logo {
}
.footer__phone {
    margin-top: 35px;
    font-size: 20px;

    @include mediaPreTablet {
        margin-top: 0;
        
    }
}
.footer__phone-desc {
    color: $faded;
}
.footer__right {
    display: flex;

    @include mediaPreTablet {
        justify-content: space-between;
    }
}
.footer__nav {
    display: flex;
    gap: 60px;
    margin-right: 250px;

    @include mediaPreTablet {
        margin-right: 0;
    }
}
.footer__nav-column {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.nav-column__title {
    color: $black;
    font-size: 20px;
}
.nav-column__link {
    color: $faded;
    line-height: 150%; /* 27px */
}
.footer__social {
    svg:hover path {
        fill: $green;
        transition: fill 0.5s ease;
    }
    transition: fill 0.5s ease;

    @include mediaPreTablet {
        width: 170px;
    }
}
.social__images {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}
.footer__rights {
    color: $faded;
    font-size: 12px;
    line-height: 120%; /* 14.4px */
}