.header {

    background-color: $green-secondary;
}

.container {
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 100px;
}
.logo {
    position: relative;
    padding-left: 42px;

    color: $green;
    font-weight: 700;
    font-size: 20px;

    &::before {
        content: "";
        position: absolute;

        width: 35px;
        height: 35px;
        left: 0;
        top: 0;
        transform: translateY(-6px);

        background-image: url(./../img/header/star.svg);
    }
}
.header__activity {
    display: flex;
    gap: 60px;

    a:hover {
        color: $green;
        transition: color 0.5s ease;
    }

    .cart:hover path {
        stroke: $green;
        transition: stroke 0.5s ease;
    }

    transition: all 0.5s ease;
}
.header__nav {
    font-size: 20px;

    @include mediaTablet {
        font-size: 18px;
    }
}
.nav {
}
.nav__list {
    display: flex;
    gap: 60px;
}
.header__shopping {
}

.cart:hover path {
    stroke: $green;
}