.top {
}
.container {
}
.top__inner {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    align-items: center;
}
.top__img {
}
.top__content {
}
.top__title {
    color: $black;
    font-size: 60px;
    line-height: 110%; /* 66px */

    padding-bottom: 20px;

    span {
        color: $green;
    }
}
.top__text {
    color: $faded;
    line-height: 150%; /* 27px */

    padding-bottom: 60px;
}
.top__btn {
}
.button {
}