// Fonts
$font-main: 'Raleway', sans-serif;

// Colors
$green: #598D66;
$green-secondary: #E1EDE6;
$green-dark: #376B44;
$black: #2C2D35;
$white: #FFFFFF;
$background-color: #F4F6F5;
$yellow: #EEDB6D;
$faded: #86928B